<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aniu.quartz.dao.TaskDao">

    <resultMap id="task" type="com.aniu.quartz.entity.Task">
        <id column="id" property="id"/>
        <result column="corn" property="corn"/>
        <result column="job" property="job"/>
        <result column="job_name" property="jobName"/>
        <result column="job_group" property="jobGroup"/>
        <result column="trigger_name" property="triggerName"/>
        <result column="trigger_group" property="triggerGroup"/>
    </resultMap>
    
    <select id="selectTask" resultType="list" resultMap="task">
        select * from task
    </select>
</mapper>